.list {
    margin-left: 68px;
    position: relative;
}

.item {
    font-size: 26px;
    font-weight: bold;
    color: #5ec6e1;
    padding: 12px 0 4px;
}

.itemText {
    font-size: 24px;
    color: #050505;
}
