.item {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.item-1 {
  background-color: red;
}

.item-2 {
  background-color: green;
}

.item-3 {
  background-color: blue;
}